.form-register-container {
    width: 500px;
    height: 510px;
    border: 2px solid #527ea5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 5px;
}

.information {
    width: 120px;
    height: 35px;
    margin: 5px;
    padding: 10px;
    background-color: #70ad47;
    color: #fff;
    box-sizing: border-box;
    display: block;
    text-align: center;
    border: 2px solid #527ea5;
    font-family: 'Century';
}

/* input[type="radio"] {
    background-color: #5b9bd5;
} */

.gioitinh {
    margin-left: 20px;
}

.hovaten {
    width: 275px;
    height: 35px;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 2px solid #527ea5;
    font-family: 'Century';
}

.khoa {
    width: 145px;
    height: 35px;
    margin: 10px;
    border: 2px solid #527ea5;
}

.ngaysinh {
    width: 145px;
    height: 35px;
    margin: 10px;
    border: 2px solid #527ea5;
    padding-left: 10px;
}

.diachi {
    width: 275px;
    height: 35px;
    margin: 10px;
    border: 2px solid #527ea5;
}

.image {
    margin-left: 10px;
}

.label-image {
    margin-bottom: 37px;
}

.center-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

.register-btn {
    background-color: #70ad47;
    width: 125px;
    height: 40px;
    margin-top: 20px;
    border: 2px solid #527ea5;
    border-radius: 8px;
    color: white;
    font-family: Century;
    font-size: 14px;
}

table {
    margin: 100px 20px 0 25px;
}

.confirm-table {
    margin: 20px 20px 0 25px;
}

select {
    appearance: none;
    text-align-last: center;
}

textarea {
    resize: none;
}

.errorTxt {
    line-height: 1px;
    margin-left: 30px;
    margin-top: 10px;
    top: 10px;
    left: 30px;
    color: red;
    display: block;
    position: absolute;
    font-family: 'Century';
}

.img {
    margin-left: 20px;
}
/* 
.label-diachi {
    margin-bottom: 55px;
} */


table p {
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Century';
}