.form-register-container {
    width: 500px;
    height: 510px;
    border: 2px solid #527ea5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 5px;
}

table {
    margin-left: 200px;
}

.hovaten {
    width: 500px;
    margin-left: 20px;
}

.gioitinh {
    margin-left: 20px;
}

.center-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

.register-btn {
    background-color: #70ad47;
    width: 125px;
    height: 40px;
    margin-top: 10px;
    border: 2px solid #527ea5;
    border-radius: 8px;
    color: white;
    font-family: Century;
    font-size: 14px;
}

.information {
    width: 150px;
    border: 2px solid black;
    background-color: gray;
}

.nam, .thang, .ngay, .thanhpho, .quan {
    margin-left: 20px;
}

.thongtin {
    margin-right: 200px;
}

textarea {
    width: 500px;
    height: 100px;
    margin-left: 20px;
    margin-top: 50px;
    resize:none;
}

.errorTxt {
    line-height: 1px;
    margin-left: 350px;
    margin-top: 10px;
    top: 10px;
    left: 30px;
    color: red;
    display: block;
    position: flex;
    font-family: 'Century';
}

h3 {
    text-align: center;
}

