table {
  width: 100%;
}

.khoa {
  margin-left: 70px;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
}

.tu-khoa {
  margin-left: 47px;
  width: 200px;
  height: 30px;
}

.khoa,
.tu-khoa {
  background-color: #bcd6f1;
  border: 1px solid #0773bb;
}

.btn-Add {
  background-color: #0773bb;
  color: white !important;
  margin-left: 74%;
  margin-bottom: 20px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #01253c;
}

table {
  font-size: 20px;
  border-collapse: separate;
  border-spacing: 20px;
}

.count-student {
  font-size: 18px;
}

.btn-Del,
.btn-Mod {
  background-color: #92b1d6;
  color: white;
  width: 60px;
  height: 30px;
  border: 1px solid #072c44;
}

.btn-Search {
  background-color: #0773bb;
  color: white !important;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #01253c;
  margin-left: 165px;
  margin-top: 10px;
}

.form-container {
  width: 50%;
  height: 25%;
  left: 60%;
  top: 20%;
  transform: translate(-50%, -50%);
  position: relative;
  display: flex;
  font-size: 20px;
}
